@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');
body{
    padding: 0px;
    margin: 0px;
    width: 414px;
    box-sizing: border-box;
    background: linear-gradient(357deg, rgb(30, 35, 48), rgb(127, 139, 153));
    background-size: 1% 270%;
    color: white;
    background-attachment: fixed;
    }
    @media  only screen and (max-width: 414px){

        h1{
            font-size: 15px;
       
        }
        .site{
            margin: 0 auto;
            width: 414px;
        }
        
       
        
        .site .page1 .imag {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            display: block;
            margin-left: 150px;
            margin-top: 17px;
        }
        .site  h3{
            position: relative;
            left: 133px;
            font-size: 18px;
            font-weight: 800;
            width: 205PX;
        }
        .site  h2{
            position: relative;
            left: 111px;
            font-size: 19px;
            font-weight: 200;
            width: 205PX;
            font-family: 'Kanit', sans-serif;
        }
        .lien{
           text-align: center;
           line-height: 40px;
           padding-left: 10px;
        }
        .lien a{
            text-decoration: none;
            color: white;
        }
        .lien h1{
            
            font-size: 20px;
            font-weight: 200;
            border: 1px white solid;
            border-radius: 40px;
            width: 390px;
            font-family: 'Kanit', sans-serif; 
            transition: all.5s;
        }
        .lien h1:hover{
            background-color: white;
            color:#000000;
        }

    }        
    @media  screen  and (max-width: 600px){
        body{
            width: 438px;
        }
        h1{
            font-size: 15px;
        }

        .site{
            margin: 0 auto;
            width: 438px;
        }
        
       
        
        .site .page1 .imag {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            display: block;
            margin-left: 220px;
            margin-top: 17px;
        }
        .site  h3{
            position: relative;
            left: 200px;
            font-size: 18px;
            font-weight: 800;
            width: 205PX;
        }
        .site  h2{
            position: relative;
            left: 180px;
            font-size: 19px;
            font-weight: 200;
            width: 205PX;
            font-family: 'Kanit', sans-serif;
        }
        .lien{
           text-align: center;
           line-height: 40px;
           padding-left: 10px;
        }
        .lien a{
            text-decoration: none;
            color: white;
        }
        .lien h1{
            
            font-size: 20px;
            font-weight: 200;
            border: 1px white solid;
            border-radius: 40px;
            width: 545px;
            font-family: 'Kanit', sans-serif; 
            transition: all.5s;
        }
        .lien h1:hover{
            background-color: white;
            color:#000000;
        }

    }        
    
